<header id="page-header" class="page-header">
    <div class="page-title" style=" width:700px;">
      <h1  >Que vous soyez salarié,
          <br> demandeur d’emploi ou travailleur indépendant,
        <br> 
        Rapid Service peut vous aider à compléter vos revenus, développer une compétence ou répondre à
         un besoin ponctuel.</h1> 
    </div>
    <div class="img-card">
      <img src="assets/aidee.jpg" alt="A desert scene. Deep orange sand and a cloudy sky, with craggy hills and mountains looming in the distance. ">
    </div>
    <!-- Photo by Juli Kosolapova for Unsplash. https://unsplash.com/photos/pZ-XFIrJMtE -->
  </header>
  <main class="page-main">
    <div class="container">
      <div class="col-md-12 col-lg-12">
  <div>hhhh</div>
  <div>hhhh</div>
  <div>hhhh</div>
  <div>hhhh</div>
  <div>hhhh</div>
  <div>hhhh</div>
  <div>hhhh</div>
  <div>hhhh</div>
  <div>hhhh</div>
  <div>hhhh</div>
  </div>
  </div>
  </main>