<app-navbar></app-navbar>
<!-- <div class="container">
<div class="blog-head text-center" style="margin-top:125px; margin-left: 15px;">
    
    <div style="margin-bottom:-3px;">
     <h6>Avez vous des taches à réaliser et vous ne trouvez pas du temps ?</h6> 
    </div>
     <br/>
     <div style="margin-bottom:-3px;">
     <h6>Vous souhaitez trouver un coup de main?</h6>
    </div>
     <br/>
     <div style="margin-bottom:-3px;">
     <h6>N'hésiter pas à publier votre annonce</h6>
    </div>
  </div>
</div> -->

<div class="blog-head text-center"  >
  <!-- <h2>Blog</h2> -->
  <h1>Publier votre annonce</h1>
</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 



<div class="container contact-form" style="margin-top:-90px;  ">
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate >

        
       <div class="row" style="margin-top:-10px;">
            <div class="col-md-6">
                <div style="margin-left: 5px;">
               <mat-form-field>
                    <mat-label>Catégorie</mat-label>
                    <mat-select [(ngModel)]="newAnnonce.category" #category="ngModel" name="category">
                      <mat-option value="BRICOLAGE" (click)="onClick()">
                        Bricolage                      
                      </mat-option>
                  
                      <mat-option value="JARDINAGE" (click)="onClick2()">
                        Jardinage
                      </mat-option>

                        <mat-option value="DEMENAGEMENT" (click)="onClick2()">
                            Déménagement
                        </mat-option>

                        <mat-option value="MENAGE" (click)="onClick2()">
                            Ménage
                        </mat-option>

                        <mat-option value="AIDE_A_DOMICILE" (click)="onClick2()">
                            Aide à domicile
                        </mat-option>

                        <mat-option value="SERVICES_GENERAUX" (click)="onClick2()">
                            Services généraux
                        </mat-option>
                    </mat-select>
                  </mat-form-field> 
                </div>

                <div style="margin-left: 5px;" *ngIf="verif1">
                <mat-form-field>
                      <mat-label>Sous-catégorie</mat-label>
                      <mat-select [(ngModel)]="newAnnonce.subCategory" #subCategory="ngModel" name="subCategory">
                        <mat-option value="ELECTRICITE" (click)="onClick3()">
                            électricité
                        </mat-option>
                    
                        <mat-option value="PLOMBERIE" (click)="onClick3()">
                            Plomberie
                          </mat-option>

                          <mat-option value="AUTRES" (click)="onClick3()">
                            Autres
                          </mat-option>
                      </mat-select>
                    </mat-form-field>  
                </div>    
                <div *ngIf="! verif1">   </div>
                <div class="form-group">
                    <input type="text"   name="location" class="form-control" placeholder="Adresse"  [(ngModel)]="newAnnonce.location" #location="ngModel" required/>
                   


                </div>
                 
               <!--  <div class="form-group" style="margin-top: 35px; margin-left:350px; width:350px;">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Suivant" />
                    
                </div> -->
                <!-- <input type="submit" name="btnSubmit" class="btnContact" value="Suivant" [disabled]="this.test == false"/> -->
                      <!-- <input type="submit" name="btnSubmit"  value="Suivant" [disabled]="this.test == false"/> -->
                      <button mat-raised-button color="primary" type="submit" [disabled]="(this.verif2 == false) || (this.verif1 == true && this.verif3 == false)">Suivant</button>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="Description" [(ngModel)]="newAnnonce.description" style="width: 100%; height: 150px;" required></textarea>
                </div>
            </div>
        </div>

   
    </form>

</div>








