.blog-head {
    margin-bottom: 70px;
    }
    
    .blog-head h6{
    color: #084cb0;
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    }
    
    .blog-head h6:after, .blog-head h6:before{
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: #084cb0;
    top: 50%;
    }
    
    .blog-head h6:after{
    right: 120%;
    }
    
    .blog-head h6:before{
    left: 120%;
    }

    body{
        background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    }
    .contact-form{
        background: #fff;
        margin-top: 10%;
        margin-bottom: 5%;
        width: 70%;
    }
    .contact-form .form-control{
        border-radius:1rem;
    }
    .contact-image{
        text-align: center;
    }
    .contact-image img{
        border-radius: 6rem;
        width: 13%;
        margin-top: -3%;
    }
    .contact-form form{
        padding: 14%;
    }
    .contact-form form .row{
        margin-bottom: -7%;
    }
    .contact-form h3{
        margin-bottom: 8%;
        margin-top: -10%;
        text-align: center;
        color: #0062cc;
    }
    .contact-form .btnContact {
        width: 50%;
        border: none;
        border-radius: 1rem;
        padding: 1.5%;
        background: rgb(107, 103, 103);
        font-weight: 600;
        color: #fff;
        cursor: pointer;
    }
    .btnContactSubmit
    {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        color: #fff;
        background-color: #0062cc;
        border: none;
        cursor: pointer;
    }
    
    
    .dropbtn {
        background-color: #2e2e2e;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #2f302f;
    }
    
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      .navbar > .container,
      .navbar > .container-fluid,
      .navbar > .container-sm,
      .navbar > .container-md,
      .navbar > .container-lg,
      .navbar > .container-xl,
      .navbar > .container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
      }
      .navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
      }
      .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
      }
      .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
      }
      .navbar-nav .dropdown-menu {
        position: static;
      }
      
      .navbar-text {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      
      .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
      }
      
      .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;
      }
      @media (prefers-reduced-motion: reduce) {
        .navbar-toggler {
          transition: none;
        }
      }
      .navbar-toggler:hover {
        text-decoration: none;
      }
      .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0.25rem;
      }
      
      .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
      
      .navbar-nav-scroll {
        max-height: var(--bs-scroll-height, 75vh);
        overflow-y: auto;
      }
      
      @media (min-width: 576px) {
        .navbar-expand-sm {
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
        .navbar-expand-sm .navbar-nav {
          flex-direction: row;
        }
        .navbar-expand-sm .navbar-nav .dropdown-menu {
          position: absolute;
        }
        .navbar-expand-sm .navbar-nav .nav-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
        .navbar-expand-sm .navbar-nav-scroll {
          overflow: visible;
        }
        .navbar-expand-sm .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
        }
        .navbar-expand-sm .navbar-toggler {
          display: none;
        }
        .navbar-expand-sm .offcanvas-header {
          display: none;
        }
        .navbar-expand-sm .offcanvas {
          position: inherit;
          bottom: 0;
          z-index: 1000;
          flex-grow: 1;
          visibility: visible !important;
          background-color: transparent;
          border-right: 0;
          border-left: 0;
          transition: none;
          transform: none;
        }
        .navbar-expand-sm .offcanvas-top,
      .navbar-expand-sm .offcanvas-bottom {
          height: auto;
          border-top: 0;
          border-bottom: 0;
        }
        .navbar-expand-sm .offcanvas-body {
          display: flex;
          flex-grow: 0;
          padding: 0;
          overflow-y: visible;
        }
      }
      @media (min-width: 768px) {
        .navbar-expand-md {
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
        .navbar-expand-md .navbar-nav {
          flex-direction: row;
        }
        .navbar-expand-md .navbar-nav .dropdown-menu {
          position: absolute;
        }
        .navbar-expand-md .navbar-nav .nav-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
        .navbar-expand-md .navbar-nav-scroll {
          overflow: visible;
        }
        .navbar-expand-md .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
        }
        .navbar-expand-md .navbar-toggler {
          display: none;
        }
        .navbar-expand-md .offcanvas-header {
          display: none;
        }
        .navbar-expand-md .offcanvas {
          position: inherit;
          bottom: 0;
          z-index: 1000;
          flex-grow: 1;
          visibility: visible !important;
          background-color: transparent;
          border-right: 0;
          border-left: 0;
          transition: none;
          transform: none;
        }
        .navbar-expand-md .offcanvas-top,
      .navbar-expand-md .offcanvas-bottom {
          height: auto;
          border-top: 0;
          border-bottom: 0;
        }
        .navbar-expand-md .offcanvas-body {
          display: flex;
          flex-grow: 0;
          padding: 0;
          overflow-y: visible;
        }
      }
      @media (min-width: 992px) {
        .navbar-expand-lg {
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
        .navbar-expand-lg .navbar-nav {
          flex-direction: row;
        }
        .navbar-expand-lg .navbar-nav .dropdown-menu {
          position: absolute;
        }
        .navbar-expand-lg .navbar-nav .nav-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
        .navbar-expand-lg .navbar-nav-scroll {
          overflow: visible;
        }
        .navbar-expand-lg .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
        }
        .navbar-expand-lg .navbar-toggler {
          display: none;
        }
        .navbar-expand-lg .offcanvas-header {
          display: none;
        }
        .navbar-expand-lg .offcanvas {
          position: inherit;
          bottom: 0;
          z-index: 1000;
          flex-grow: 1;
          visibility: visible !important;
          background-color: transparent;
          border-right: 0;
          border-left: 0;
          transition: none;
          transform: none;
        }
        .navbar-expand-lg .offcanvas-top,
      .navbar-expand-lg .offcanvas-bottom {
          height: auto;
          border-top: 0;
          border-bottom: 0;
        }
        .navbar-expand-lg .offcanvas-body {
          display: flex;
          flex-grow: 0;
          padding: 0;
          overflow-y: visible;
        }
      }
      @media (min-width: 1200px) {
        .navbar-expand-xl {
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
        .navbar-expand-xl .navbar-nav {
          flex-direction: row;
        }
        .navbar-expand-xl .navbar-nav .dropdown-menu {
          position: absolute;
        }
        .navbar-expand-xl .navbar-nav .nav-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
        .navbar-expand-xl .navbar-nav-scroll {
          overflow: visible;
        }
        .navbar-expand-xl .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
        }
        .navbar-expand-xl .navbar-toggler {
          display: none;
        }
        .navbar-expand-xl .offcanvas-header {
          display: none;
        }
        .navbar-expand-xl .offcanvas {
          position: inherit;
          bottom: 0;
          z-index: 1000;
          flex-grow: 1;
          visibility: visible !important;
          background-color: transparent;
          border-right: 0;
          border-left: 0;
          transition: none;
          transform: none;
        }
        .navbar-expand-xl .offcanvas-top,
      .navbar-expand-xl .offcanvas-bottom {
          height: auto;
          border-top: 0;
          border-bottom: 0;
        }
        .navbar-expand-xl .offcanvas-body {
          display: flex;
          flex-grow: 0;
          padding: 0;
          overflow-y: visible;
        }
      }
      @media (min-width: 1400px) {
        .navbar-expand-xxl {
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
        .navbar-expand-xxl .navbar-nav {
          flex-direction: row;
        }
        .navbar-expand-xxl .navbar-nav .dropdown-menu {
          position: absolute;
        }
        .navbar-expand-xxl .navbar-nav .nav-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
        .navbar-expand-xxl .navbar-nav-scroll {
          overflow: visible;
        }
        .navbar-expand-xxl .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
        }
        .navbar-expand-xxl .navbar-toggler {
          display: none;
        }
        .navbar-expand-xxl .offcanvas-header {
          display: none;
        }
        .navbar-expand-xxl .offcanvas {
          position: inherit;
          bottom: 0;
          z-index: 1000;
          flex-grow: 1;
          visibility: visible !important;
          background-color: transparent;
          border-right: 0;
          border-left: 0;
          transition: none;
          transform: none;
        }
        .navbar-expand-xxl .offcanvas-top,
      .navbar-expand-xxl .offcanvas-bottom {
          height: auto;
          border-top: 0;
          border-bottom: 0;
        }
        .navbar-expand-xxl .offcanvas-body {
          display: flex;
          flex-grow: 0;
          padding: 0;
          overflow-y: visible;
        }
      }
      .navbar-expand {
        flex-wrap: nowrap;
        justify-content: flex-start;
      }
      .navbar-expand .navbar-nav {
        flex-direction: row;
      }
      .navbar-expand .navbar-nav .dropdown-menu {
        position: absolute;
      }
      .navbar-expand .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
      .navbar-expand .navbar-nav-scroll {
        overflow: visible;
      }
      .navbar-expand .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
      }
      .navbar-expand .navbar-toggler {
        display: none;
      }
      .navbar-expand .offcanvas-header {
        display: none;
      }
      .navbar-expand .offcanvas {
        position: inherit;
        bottom: 0;
        z-index: 1000;
        flex-grow: 1;
        visibility: visible !important;
        background-color: transparent;
        border-right: 0;
        border-left: 0;
        transition: none;
        transform: none;
      }
      .navbar-expand .offcanvas-top,
      .navbar-expand .offcanvas-bottom {
        height: auto;
        border-top: 0;
        border-bottom: 0;
      }
      .navbar-expand .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
      }
      
      .navbar-light .navbar-brand {
        color:blue;
      }
      .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
        color:blue;
      }
      .navbar-light .navbar-nav .nav-link {
        color:blue;
      }
      .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color:blue;
      }
      .navbar-light .navbar-nav .nav-link.disabled {
        color:blue;
      }
      .navbar-light .navbar-nav .show > .nav-link,
      .navbar-light .navbar-nav .nav-link.active {
        color:blue;
      }
      .navbar-light .navbar-toggler {
        color:blue;
        border-color: rgba(0, 0, 0, 0.1);
      }
      .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
      .navbar-light .navbar-text {
        color:blue;
      }
      .navbar-light .navbar-text a,
      .navbar-light .navbar-text a:hover,
      .navbar-light .navbar-text a:focus {
        color:blue;
      }
      
      .navbar-dark .navbar-brand {
        color: #fff;
      }
      .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
        color: #fff;
      }
      .navbar-dark .navbar-nav .nav-link {
        color:blue;
      }
      .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
        color:blue;
      }
      .navbar-dark .navbar-nav .nav-link.disabled {
        color:blue;
      }
      .navbar-dark .navbar-nav .show > .nav-link,
      .navbar-dark .navbar-nav .nav-link.active {
        color:blue;
      }
      .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, 0.55);
        border-color: rgba(255, 255, 255, 0.1);
      }
      .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
      .navbar-dark .navbar-text {
        color: rgba(255, 255, 255, 0.55);
      }
      .navbar-dark .navbar-text a,
      .navbar-dark .navbar-text a:hover,
      .navbar-dark .navbar-text a:focus {
        color: #fff;
      }
      #mainNav .navbar-toggler {
        font-size: 80%;
        padding: 0.75rem;
        color: #64a19d;
        border: 1px solid #64a19d;
      }
      #mainNav .navbar-toggler:focus {
        outline: none;
      }
      #mainNav .navbar-brand {
        color: #000;
        font-weight: 700;
        padding: 0.9rem 0;
      }
      #mainNav .navbar-nav .nav-item:hover {
        color: fade(#fff, 80%);
        outline: none;
        background-color: transparent;
      }
      #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
        outline: none;
        background-color: transparent;
      }
      @media (min-width: 992px) {
        #mainNav {
          padding-top: 0;
          padding-bottom: 0;
          border-bottom: none;
          background-color: rgb(191 191 183);
          transition: background-color 0.3s ease-in-out;
        }
        #mainNav .navbar-brand {
          padding: 0.5rem 0;
          color: rgba(255, 255, 255, 0.5);
        }
        #mainNav .nav-link {
          transition: none;
          padding: 2rem 1.5rem;
          color: rgb(12, 12, 11);
          
        }
        #mainNav .nav-link:hover {
          color: rgb(19, 19, 80);
        }
        #mainNav .nav-link:active {
          color: #fff;
        }
        #mainNav.navbar-shrink {
          background-color: #fff;
        }
        #mainNav.navbar-shrink .navbar-brand {
          color: #000;
        }
        #mainNav.navbar-shrink .nav-link {
          color: #000;
          padding: 1.5rem 1.5rem 1.25rem;
          border-bottom: 0.25rem solid transparent;
        }
        #mainNav.navbar-shrink .nav-link:hover {
          color:#1a436b;
        }
        #mainNav.navbar-shrink .nav-link:active {
          color: #467370;
        }
        #mainNav.navbar-shrink .nav-link.active {
          color: #64a19d;
          outline: none;
          border-bottom: 0.25rem solid #64a19d;
        }
      }
      .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
      }
      .container,
    .container-fluid,
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm {
      width: 100%;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
    }
    
    @media (min-width: 576px) {
      .container-sm, .container {
        max-width: 540px;
      }
    }
    @media (min-width: 768px) {
      .container-md, .container-sm, .container {
        max-width: 720px;
      }
    }
    @media (min-width: 992px) {
      .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
      }
    }
    @media (min-width: 1200px) {
      .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
      }
    }
    @media (min-width: 1400px) {
      .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
      }
    }
    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
      }
      
      .px-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
      }
      .row-cols-lg-5 > * {
        flex: 0 0 auto;
        width: 20%;
      }
    
      
      
    
      /* leave this part out */
    body{text-align:center; padding-top:30px;}
    /* leave this part out */
    
    .clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
    .clearfix:after{clear:both;}
    .hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
    .input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    .btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
    .fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
    .fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
    .fileupload .btn{vertical-align:middle;}
    .fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
    .fileupload-inline .fileupload-controls{display:inline;}
    .fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
    .thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
    .fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
    .control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
    .control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
    .control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
    .control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
    .control-group.error .fileupload .fileupload-preview{color:#b94a48;}
    .control-group.error .fileupload .thumbnail{border-color:#b94a48;}
    .control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
    .control-group.success .fileupload .fileupload-preview{color:#468847;}
    .control-group.success .fileupload .thumbnail{border-color:#468847;}
    
    .avatar {
      vertical-align: middle;
        width: 42px;
        height: 40px;
        border-radius: 50%;
        margin-top: 10px;
        margin-right: 1px;
    }

    .blog-head {
      margin-bottom: 70px;
      margin-top: 70px;
      }
      
      .blog-head h1{
      color: #084cb0;
      position: relative;
      display: inline-block;
      text-transform: capitalize;
      }
      
      .blog-head h1:after, .blog-head h1:before{
      position: absolute;
      content: "";
      width: 50px;
      height: 3px;
      background: #084cb0;
      top: 50%;
      }
      
      .blog-head h1:after{
      right: 120%;
      }
      
      .blog-head h1:before{
      left: 120%;
      }

      