<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top:45px;">
    <div class="row no-gutter">

        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image">
        </div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <!-- Demo content-->
                <div class="container" *ngIf="signInForm">
                    <div class="row">
                        <div style="width:450px; margin-left:380px; margin-top:-10px;">
                            <h3 class="display-4">Se connecter</h3>
                            

                            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

                           
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="email" formControlName="mail"
                                        [ngClass]="{ 'is-invalid': submitted && f.mail.errors }"
                                        placeholder="Adresse Email" autofocus=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4">

                                    <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                                        <div *ngIf="f.mail.errors.required">Vous devez saisir votre adresse Email</div>
                                        <div *ngIf="f.mail.errors.email">
                                            L'e-mail doit être une adresse valide</div>

                                    </div>

                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                        placeholder="mot de passe"
                                        class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Vous devez saisir un mot de passe</div>
                                        <div *ngIf="f.password.errors?.['minlength']">Le mot de passe doit être
                                            au moins 3 caractères.</div>

                                    </div>
                                </div>
                                <button type="submit"
                                    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Se connecter</button>
                                
                                   <!--  <div class="form-group">
                                      <div
                                        class="alert alert-danger"
                                        role="alert"
                                        *ngIf="submitted && isLoginFailed"
                                      >
                                        Login failed: {{ errorMessage }}
                                        
                                      </div>
                                      </div> -->
                            </form>
                            <p class="text-muted mb-4" style="margin-top:20px;">Vous n’avez pas de compte ? </p>
                            <a routerLink="/inscription" style="color: #1d6ada; text-decoration: none;">Inscrivez-vous</a>
                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
    </div>
</div>