
<div class="container-fluid">
    <div class="row no-gutter">
      
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"  style="margin-right: 20px;">
        </div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <!-- Demo content-->
                <div class="container" *ngIf="updateForm">
                    <div class="row">
                        <div >
                          
                            <h3 class="display-4">Modifier votre mot de passe</h3>
                         <form [formGroup]="updateForm">
                            <div class="form-group mb-3">

                                <input  type="password" formControlName="ancienMdp"  [ngClass]="{ 'is-invalid': submitted && f.ancienMdp.errors }"  placeholder="Ancien mot de passe" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                <div *ngIf="submitted && f.ancienMdp.errors" class="invalid-feedback">
                                    <!-- <div *ngIf="f.nom.invalid && (f.nom.dirty || f.nom.touched)" class="alert alert-danger"> -->
                                    <div *ngIf="f.ancienMdp.errors.required">Password is required</div>
                                    <div *ngIf="f.ancienMdp.errors?.['minlength']">Password must be at least 3 characters long. </div>
</div>
                            </div>
                            <div class="form-group mb-3">

                                <input  type="password" formControlName="nouveauMdp"  [ngClass]="{ 'is-invalid': submitted && f.nouveauMdp.errors }"  placeholder="Nouveau mot de passe" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                <div *ngIf="submitted && f.nouveauMdp.errors" class="invalid-feedback">
                                    <!-- <div *ngIf="f.nom.invalid && (f.nom.dirty || f.nom.touched)" class="alert alert-danger"> -->
                                    <div *ngIf="f.nouveauMdp.errors.required">New Password is required</div>
                                    <div *ngIf="f.nouveauMdp.errors?.['minlength']">New Password must be at least 3 characters long. </div>
</div>
                            </div>
                            <div class="form-group mb-3">

                                <input  type="password" formControlName="confirmeMdp"  [ngClass]="{ 'is-invalid': submitted && f.confirmeMdp.errors }"  placeholder="Confirmer mot de passe" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                <div *ngIf="submitted && f.confirmeMdp.errors" class="invalid-feedback">
                                    <!-- <div *ngIf="f.nom.invalid && (f.nom.dirty || f.nom.touched)" class="alert alert-danger"> -->
                                    <div *ngIf="f.confirmeMdp.errors.required">Password is required</div>
                                    <div *ngIf="f.confirmeMdp.errors?.mustMatch">Passwords must match</div>
</div>
                            </div>
                            
                        <div class="example-button-row" style="margin-top:20px;">
                            <!-- <button mat-stroked-button color="primary" type="submit" class="bt1" [disabled]="f.ancienMdp.errors?.required">Enregistrer</button> -->
                            <!-- <button  type="submit" class="bt1" >Enregistrer</button> -->
                            <button  mat-stroked-button color="primary" (click)="update()" [disabled]="f.ancienMdp.errors?.required">Enregistrer</button>

                            <button mat-stroked-button color="primary" type="reset" (click)="onReset()">Annuler</button>
                        
                        
                                            </div>
                        </form>
                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
    </div>
  </div>