<section class="blog" data-scroll-index="4" style="background-color:white; margin-top:10px;">
    <div class="container">
   <!--  
      <div class="blog-head text-center">
        <h2>Blog</h2>
        <h6>latest news</h6>
      </div> -->
  
      <!-- blog items -->
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="item" >
            <div class="img">
                <img src="assets/aabb.jpg" alt="">
              </div>
            <div class="info">
                <div class="date" >
                    <span>   1 </span>
                  </div>
              <h2>Demandez un service</h2>
              <p>Remplissez le formulaire et obtenez une estimation du prix et de la durée</p>
              
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4">
            <div class="item"  style="height:460px;">
              
                <div class="img">
                    <img src="assets/eee.jpg" alt="" style="height:250px;">
                  </div>
                <div class="info">
                    <div class="date" >
                        <span>   2 </span>
                      </div>
               
                <h2>Réservez votre prestataire</h2>
                <p>Des prestataires compétents et proches de chez vous vous proposent leurs services</p>
        
              </div>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-4">
            <div class="item" style="height:460px;">
            
                <div class="img">
                    <img src="assets/oo.jpg" alt="" >
                  </div>
                <div class="info">
                    <div class="date" >
                        <span>   3 </span>
                      </div>
               
               <h2>Souriez, c'est fait !</h2>
                <p>Votre prestataire vous rend service au prix et à la date convenus</p>
             
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>